
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Robotomedium.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Robotobold.ttf");
}

body {
    font-family: "Roboto", sans-serif;
}

.form-title {
    font-weight: bold;
    color: #052C65;
}

.form-container {
    width: 400px;
}

.form-link {
    font-size: 12px;
}
