<div class="p-0" id="page-content-wrapper">
    <div class="header border-bottom navbar px-2">
        <button class="navbar-toggler" type="button" id="menu-toggle" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="mx-sm-3 mt-sm-5 p-sm-3 mx-1 mt-3 mb-5 p-1">
        <div class="page-title page-title-long mb-sm-5 ms-4 mb-3">Создание категории расходов</div>
        <div class="ms-sm-4 ms-3 col-11 col-sm-10 col-md-7 col-lg-6 col-xl-5 ">
            <input class="form-control mb-4" type="text" placeholder="Название...">
            <div class="actions mb-3">
                <button type="button" class="btn btn-success me-2">Создать</button>
                <button type="button" class="btn btn-danger">Отмена</button>
            </div>
        </div>
    </div>
</div>
