<div class="mx-sm-3 mt-sm-5 p-sm-3 mx-1 mt-3 mb-5 p-1">
    <div class="page-title page-title-long mb-sm-4 ms-4 mb-3">Редактирование дохода/расхода</div>
    <form class="ms-sm-4 ms-3 pt-3 col-11 col-sm-10 col-md-7 col-lg-6 col-xl-5 ">
        <select class="form-select mb-2" required>
            <option disabled selected hidden>Тип...</option>
            <option value="1">Доход</option>
            <option value="2">Расход</option>
        </select>
        <select class="form-select mb-2" required>
            <option disabled selected hidden>Категория...</option>
            <option value="1">Категория 1</option>
            <option value="2">Категория 2</option>
            <option value="2">Категория 3</option>
        </select>
        <input class="form-control mb-2" type="number" placeholder="Сумма в $...">
        <input class="form-control mb-2" type="date" placeholder="Дата...">
        <textarea class="form-control mb-2" rows="2" placeholder="Комментарий..."></textarea>
        <div class="actions my-4">
            <button type="button" class="btn btn-success me-2">Сохранить</button>
            <button type="button" class="btn btn-danger">Отмена</button>
        </div>
    </form>
</div>
