<div class="p-0" id="page-content-wrapper">
    <div class="header border-bottom navbar px-2">
        <button class="navbar-toggler" type="button" id="menu-toggle" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="mx-sm-3 mt-sm-5 p-sm-3 mx-1 mt-3 mb-5 p-1">
        <div class="page-title page-title-long mb-sm-5 ms-4 mb-3">Главная</div>
        <div class="ms-sm-4 ms-2">
            <div class="filter d-flex align-items-center justify-content-start flex-wrap mb-5">
                <div class="me-3 my-2">
                    <button type="button" class="btn btn-outline-secondary filter-button">Сегодня</button>
                </div>
                <div class="me-3 my-2">
                    <button type="button" class="btn btn-outline-secondary filter-button">Неделя</button>
                </div>
                <div class="me-3 my-2">
                    <button type="button" class="btn btn-outline-secondary filter-button">Месяц</button>
                </div>
                <div class="me-3 my-2">
                    <button type="button" class="btn btn-outline-secondary filter-button">Год</button>
                </div>
                <div class="me-3 my-2">
                    <button type="button" class="btn btn-outline-secondary filter-button">Все</button>
                </div>
                <div class="me-3">
                    <button type="button" class="btn btn-outline-secondary filter-button">Интервал</button>
                </div>
                <div class="filter-date mt-1 mt-sm-0">с <a href="" class="px-2">Дата</a> по <a href=""
                                                                                               class="px-2">Дата</a>
                </div>
            </div>
            <div class="charts container row px-0">
                <div class="chart-wrapper col-12 col-md-6 mb-4 px-0">
                    <canvas id="incomeChart"></canvas>
                </div>
                <div class="chart-wrapper col-12 col-md-6 mb-4 px-0">
                    <canvas id="expensesChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
